@import url("./root.css");/* Importo los estilos de root.css */

* {
    margin: 0;/* margin de la pagina es cero */
    padding: 0;/* padding de la pagina es cero */
    box-sizing: border-box;/* La medida (width o height) que le demos al elemento sera igual a la suma
    del contenido mas el padding mas el margin. Si ponemos content-box, la medida indicada sera solo
    para el contenido, sin considerar padding ni margin */
    font-family: "Inter", serif;/* Inter es una fuente de Google Fonts */
}

/* Animacion para el icono del header */
@keyframes header-animation {
    from {
		-webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
	}
  50%{
		-webkit-transform: rotate(180deg);
        transform: rotateY(180deg);
	} 
	to {
		-webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
		}
}

/* Ancho del scrollbar */
::-webkit-scrollbar {
    width: 14px;
}
  
/* Fondo del scrollbar */
::-webkit-scrollbar-track {
    background: var(--amarillo)
}
   
/* Barra del scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--verde);
}
  
/* Hover del scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: var(--verde);
}

body{
    background-color: black;
}

/* Estilos para el header visto en el ordenador */
.header {
    background-color: var(--verde);
    height: 12vh;
    position: sticky;
    top: 0;
    z-index: 10;
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 4vw;
        margin-right: 4vw;
        padding: 1.5rem 0;
        .linkToInit {
            text-decoration: none;
            color: var(--amarillo);
            font-weight: 700;
            font-size: 1.2rem;
            /* Animation hover */
            &:hover{
                animation: header-animation 2s infinite;
            }
        }
        .navigationList {
            list-style: none;
            align-items: center;
            .itemList {
                margin-right:20px;
                display: inline-block;
                .linkItem {
                    text-decoration: none;
                    color: var(--blanco-verdoso);
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    &:hover {
                        box-shadow: 0 0 10px rgba(210, 224, 5, 0.842);
                    }
                }
                .linkItem.iniciarSesion {
                    background-color: var(--amarillo);
                    color: var(--verde);
                    box-shadow: 0 0 0px rgba(210, 224, 5, 0.842);
                    &:hover {
                        background-color: var(--naranja);
                        color: var(--blanco-verdoso);
                     }
                }
            }
        }
    }
}

/* Estilos para el header visto en el celu y en tablet */
@media (max-width: 768px) {
    body {
        width: 100vw;
    }
    .header {
        height: initial;
        .navigation {
            margin-left:10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;
            .linkToInit {
                font-size: 1.2rem;
                font-weight:700;
            }
            .navigationList{
                padding:initial;
                .itemList{
                    .linkItem{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
}

/* Estilos para el main visto en el ordenador */
.main {
    .firstSection {
        color:white;
        background-image:linear-gradient(to right top, #16a0854a, #16a0854a), url(../assets/images/banner-bg.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .title{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .subtitle{
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .regButton{
            background-color: var(--verde);
            color: var(--blanco-verdoso);
            box-shadow: 0 0 0px rgba(210, 224, 5, 0.842);
            border-radius: 5px;
            text-decoration: none;
            padding: 0.5rem 2rem;
            font-size: 1.2rem;
            font-weight: 700;
            &:hover {
                background-color: var(--verde);
                color: var(--blanco-verdoso);
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
            }
        }
    }
    
    .buscadorPrincipal{
        background-color: #181419;
        color:white;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .buscadorPeliculas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .inputBuscador{
                border: 2px solid white;
                border-radius: 25px;
                color: #ffffff;
                font-size: 1.2rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;
            }
            .botonBuscador{
                background-color:#9f3647;
                display: inline-block;
                color:#ffffff;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: #9f3647;
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                 }
            }
        }
       
    }
    .peliculasTendencia{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .peliculas{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:60px;
            a{
                text-decoration: none;
                color: #ffffff;
                .pelicula{
                    width:200px;
                    height: 300px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: all 0.5s ease;
                   
                    .imgTendencia{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                  
                    .tituloPelicula{
                        z-index: 2;
                        position: absolute;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        max-width: 20rem;
                        width: 100%;
                        transform: translateY(-50%) translateX(-50%);
                        h4 {
                            font-size: 2rem;
                            font-weight: bold;
                            opacity: 0;
                            margin-bottom: 0.5rem;
                            letter-spacing: 0.1rem;
                            transition: opacity 0.5s ease-in-out;
    
                        }
                    }
                    &:hover{
                       box-shadow: 0 0 30px #9f3648cd;
                       transform: scale(1.1);
                      
                    }
                    &:hover h4 {
                        opacity: 1;
                      
                    }
                    &:hover::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background-color: #9f3648; /* Color rojo transparente */
                        z-index: 1; /* Para asegurarse de que esté sobre la imagen */
                    }
                }
            }
          
        }
        .boton{
            border: 1px solid white;
            box-sizing: content-box;
            margin-top:50px;
            margin-left:20px;
            background-color:#9f3647;
            color: #ffffff;
            padding: 1rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            margin-bottom:60px;
             /* Agregar efecto de botón presionado */
             transition: transform 0.3s, box-shadow 0.3s;
             &:hover {
                 background-color: #9f3647;
                 transform: scale(0.95);
                 box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }

        }
    }
    .peliculasAclamadas{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom:60px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .aclamadas{
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0px 0px 40px 0px;
            .peliculaItem{
                border-radius: 25px;
                width: 170px;
                min-width: 170px;
                font-size: 20px;
                cursor: pointer;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               
                .imgAclamada{
                    border-radius: 5%;
                    width: 95%;
                    height: 95%;
                    object-fit: cover;
                }
                
            }
           
        
        }
    }
   
}

/* Estilos para el main visto en el celu y en tablet */
@media (max-width: 768px) {
    .main{
        .firstSection{
            height: 60vh;
            background-image:linear-gradient(to right top, #16a0854a, #16a0854a), url(../assets/images/banner-bg-celu.jpg);
            .title{
                font-size: 2.5rem;
            }
            .subtitle{
                font-size: 1.5rem;
            }
            .regButton{
                font-weight: 400;
                margin-right: initial;
                font-size: 1rem;
                padding: 0.2rem;
            }
        }

        .buscadorPrincipal{
            height: 30vh;
            .tituloSection{
                font-size: 1.6rem;
            }
            .buscadorPeliculas{
                .inputBuscador{
                    font-size: 1rem;
                    height: 40px;
                    width: 300px;
                }
                .botonBuscador{
                    height: 40px;
                    padding:0 15px;
                    font-size: 1rem;
                }
            }
        }
        .peliculasTendencia{
            width: 95%;
            .tituloSection{
                font-size: 2rem;
            }
            .peliculas{
                flex-direction: column;
                justify-content: center;
                align-items: center;
              
                a{
                    width: 100%;
                    .pelicula{
                        width: 100%;
                        height: 500px;
                       
                        .tituloPelicula{
                            h4 {
                                font-size: 1rem;
                            }
                        }
                       
                    }
                }
                &:hover{
                    box-shadow:initial;
                    transform: scale(0.9);
                   
                }
               
            }
            .boton{
                padding: 0.8rem 0.8rem;
                font-size: 0.8rem;
            }
        }
        .peliculasAclamadas{
            .tituloSection{
                font-size: 2rem;
            }
            .aclamadas{
                .peliculaItem{
                    width: 150px;
                    min-width: 150px;
                    font-size: 15px;
                    margin-left: 20px;
                    .imgAclamada{
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }
    }
}


/* Estilos para el footer */
.footer {
    color: red;
}
